@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Way out in the bush somewhere<br />
    You'll never find it<br />
    <abbr title="Phone">P:</abbr>
    780.668.9362
</address>

<address>
    <strong>Support:</strong> <a href="mailto:addison.babcock@hotmail.com">addison.babcock@hotmail.com</a><br />
</address>
