@model GolfCourseManager.ViewModels.EnterScoreViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Score</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="TeeTime" class="col-md-2 control-label">Tee Time</label>
			<div class="col-md-10">
				<select asp-for="TeeTime">
					@foreach (var teeTime in Model.SelectableTeeTimes)
					{
						<option value="@teeTime.ToString()">@teeTime.ToString()</option>
					}
				</select>
				<span asp-validation-for="TeeTime" class="text-danger" />
			</div>
		</div>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Hole</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
					<th>13</th>
					<th>14</th>
					<th>15</th>
					<th>16</th>
					<th>17</th>
					<th>18</th>
				</tr>
			</thead>
			<tr>
				<th>Strokes</th>
				<td><input asp-for="Hole1" class="form-control" /></td>
				<td><input asp-for="Hole2" class="form-control" /></td>
				<td><input asp-for="Hole3" class="form-control" /></td>
				<td><input asp-for="Hole4" class="form-control" /></td>
				<td><input asp-for="Hole5" class="form-control" /></td>
				<td><input asp-for="Hole6" class="form-control" /></td>
				<td><input asp-for="Hole7" class="form-control" /></td>
				<td><input asp-for="Hole8" class="form-control" /></td>
				<td><input asp-for="Hole9" class="form-control" /></td>
				<td><input asp-for="Hole10" class="form-control" /></td>
				<td><input asp-for="Hole11" class="form-control" /></td>
				<td><input asp-for="Hole12" class="form-control" /></td>
				<td><input asp-for="Hole13" class="form-control" /></td>
				<td><input asp-for="Hole14" class="form-control" /></td>
				<td><input asp-for="Hole15" class="form-control" /></td>
				<td><input asp-for="Hole16" class="form-control" /></td>
				<td><input asp-for="Hole17" class="form-control" /></td>
				<td><input asp-for="Hole18" class="form-control" /></td>
			</tr>
		</table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
