@model GolfCourseManager.ViewModels.EnterScoreViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Score</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="TeeTime" class="col-md-2 control-label">Tee Time</label>
			<div class="col-md-10">
				<select asp-for="TeeTime">
					@foreach (var teeTime in Model.SelectableTeeTimes)
					{
						<option value="@teeTime.ToString()">@teeTime.ToString()</option>
					}
				</select>
				<span asp-validation-for="TeeTime" class="text-danger" />
			</div>
		</div>
			<div class="form-group">
				<label asp-for="Hole1" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Hole1" class="form-control" />
				</div>
			</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
