
@{ 
	ViewBag.Title = "Register";
}

<h1>Golf Course Manager - @ViewBag.Title</h1>

<form method="post">
	First Name: <input name="FirstName" type="text" />
	Last Name: <input name="LastName" type="text" />
</form>